.header {
  background: #f0f0f0;
  border-bottom: 1px solid #d9d9d9;

  &__left {
    @include span(8 of 12);
  }

  &__title {

    font-size: 24px;

    a {
      @include hover-link;
    }
  }

  &__addition {
    font-weight: normal;
  }

  &__nav {
    @include span(last 4 of 12);
  }
}
