---json
{
  "layout": "base",
  "title": "Blog",
  "description": "Serhii Kulykov writes about web components, accessibility and design systems."
}
---
<div class="content">
  <h1 class="visuallyhidden">Serhii Kulykov</h1>

  <p>
    Hi there! I'm Serhii, a front-end developer with 10 years of experience working at <a href="https://vaadin.com">Vaadin</a>.
    I write about web components, accessibility and design systems.
  </p>

  <section>
    <h2>Blog</h2>

    <table class="dated-table">
      <tbody>
        {%- for post in collections.blog | reverse %}
        <tr>
          <td>
            <time datetime="{{ post.date | dateToIsoString }}">{% formatDate post.date, lang %}</time>
          </td>
          <td>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
          </td>
        </tr>
        {%- endfor %}
        {%- for post in devto %}
        <tr>
          <td>
            <time datetime="{{ post.date | dateToIsoString }}">{% formatDate post.date, lang %}</time>
          </td>
          <td>
            <a href="{{ post.url }}">{{ post.title }}</a> (dev.to)
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h2>Podcasts</h2>

    <p>I took part in two episodes of the Web Standards podcast by Vadim Makeev.</p>

    <ul>
      {%- for post in collections.podcast -%}
      <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </section>
</div>
