---json
{
  "layout": "base",
  "title": "Главная"
}
---
<div class="page-home">
  <h1 class="visuallyhidden">Сергей Куликов</h1>

  <div class="page-home__main content">
    <section>
      <h2 class="visuallyhidden">Обо мне</h2>

      <p>
        <img
          src="/assets/images/intro/800.jpg"
          alt="Personal photo"
          height="450"
          width="600"
        >
      </p>

      <p>
        Привет! На этом сайте я собираю свой «цифровой след» в профессии и творчестве.
        Возможно, в будущем добавлю и другие разделы — например, тексты из старого блога в ЖЖ, заметки о путешествиях, музыке и книгах.
      </p>
    </section>

    <section>
      <h2>Разработка</h2>

      <p>
        На жизнь зарабатываю фронтенд-разработкой (область интересов — веб-компоненты).
        Последние 4 года разрабатываю дизайн-систему в финской компании <a href="https://vaadin.com">Vaadin</a>,
        а также занимаюсь <a rel="noopener noreferrer" href="https://github.com/web-padawan">open-source проектами</a>.
        Достижениями и накопленным опытом в этой сфере иногда <a href="/work/">делюсь публично</a>.
      </p>
    </section>

    <section>
      <h2>Стихи</h2>

      <p>
        Пишу с детства, осознанно — с 16 лет.
        Обладатель гран-при всеукраинских фестивалей «ТА-НЕ-НА-ДО Фест» (Днепр, 2010) и «Ан Т-Р-Акт» (Херсон, 2014).
        Изданы сборники «Версия» (2008, в соавторстве в братом Дмитрием) и «Стадия» (2011).
        На этом сайте собрано <a href="/poetry/">многое из написанного</a>.
      </p>
    </section>
  </div>
</div>
