---json
{
  "layout": "base",
  "title": "Frontend"
}
---
<div class="content">
  <h1>{{ title }}</h1>

  <section>
    <h2>Podcasts</h2>

    <p>I took part in two episodes of the Web Standards podcast by Vadim Makeev.</p>

    <ul>
      {%- for post in collections.podcast -%}
      <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </section>

  <section>
    <h2>JSUnderhood</h2>

    <p>In November 2020, I hosted the Russian speaking <a href="https://jsunderhood.ru/iamkulykov/">@jsunderhood</a> for a week.</p>

    <ul>
      {%- for post in collections.jsunderhood -%}
      <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </section>

  <h2>Post Mortem</h2>

    <p>Every now and then I share my team's achievements on Twitter.</p>

    <ul>
      {%- for post in collections.postmortem -%}
      <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </section>

</div>
