<div class="certs">
  <h2 class="certs__title">Сертификаты</h2>
  <ul class="certs__list">
    <li class="certs__item">
      <span class="certs__entry">Yappi Corporate General English course:</span>
      <a class="certs__level mfp-image" href="/assets/images/certs/yappi.jpg">intermediate</a>,
      <i class="certs__date">26.02.2016</i>
    </li>
    <li class="certs__item">
      <span class="certs__entry">English as a Second Language course:</span>
      <a class="certs__level mfp-image" href="/assets/images/certs/esl_int.jpg">intermediate</a>,
      <i class="certs__date">19.08.2015</i>
    </li>
    <li class="certs__item">
      <span class="certs__entry">English as a Second Language course:</span>
      <a class="certs__level mfp-image" href="/assets/images/certs/esl_pre.jpg">pre-intermediate</a>,
      <i class="certs__date">25.05.2015</i>
    </li>
    <li class="certs__item">
      <span class="certs__entry">DELF: Diploma in French Studies —</span>
      <div>
        <a class="certs__level mfp-image" href="/assets/images/certs/delf_b1.jpg">B1</a>
        <span>and</span>
        <a class="certs__level mfp-image" href="/assets/images/certs/delf_b2.jpg">B2</a>,
        <i class="certs__date">20.09.2006</i>
      </div>
    </li>
  </ul>
</div>
