<div class="experience">
  <h2 class="experience__title">Опыт работы</h2>

  <div class="experience-company">
    <div class="experience-company__icon experience-company__icon--paradiz">&nbsp;</div>
    <a class="experience-company__title" href="http://para-diz.com.ua" target="_blank">Para-Diz Web Studio</a>
    <div class="experience-company__period">Февраль 2015 — поныне</div>
    <div class="experience-company__job">Junior Drupal developer</div>
    <div class="experience-company__note">(работаю удалённо)</div>
    <ul class="experience-company__description">
      <li>вёрстка страниц из PSD-макетов</li>
      <li>интеграция вёрстки в CMS Drupal</li>
      <li>разработка нового функционала</li>
      <li>адаптация сторонних решений</li>
      <li>оптимизация производительности</li>
    </ul>
  </div>

  <div class="experience-company">
    <div class="experience-company__icon experience-company__icon--privat">&nbsp;</div>
    <a class="experience-company__title" href="https://privatbank.ua" target="_blank">ПАО КБ ПриватБанк</a>
    <div class="experience-company__period">Июль 2008 — поныне</div>
    <div class="experience-company__job">Software maintenance engineer</div>
    <div class="experience-company__note">(плавающий график)</div>
    <ul class="experience-company__description">
      <li>мониторинг серверов БД и app</li>
      <li>анализ и устранение сбоев</li>
      <li>плановые регламентные работы</li>
      <li>release-менеджмент</li>
      <li>автоматизация задач</li>
    </ul>
  </div>
</div>
