  <div class="portfolio">

    <h2 class="portfolio__title">Портфолио</h2>

    <div class="portfolio-cards">

      <div class="portfolio-card">
        <div class="portfolio-card__thumb">
          <a href="http://wallpapyrus.ru" target="_blank">
            <img src="/assets/images/portfolio/wallpapyrus_front.jpg" alt="wallpapyrus.ru: Главная страница" title="wallpapyrus.ru: Главная страница">
          </a>
        </div>
        <div class="portfolio-card__company">wallpapyrus.ru</div>
        <div class="portfolio-card__title"><a href="http://wallpapyrus.ru" target="_blank">Главная страница</a></div>
      </div>

      <div class="portfolio-card">
        <div class="portfolio-card__thumb">
          <a href="http://wallpapyrus.ru/node/7" target="_blank">
            <img src="/assets/images/portfolio/wallpapyrus_node.jpg" alt="wallpapyrus.ru: Страница материала" title="wallpapyrus.ru: Страница материала">
          </a>
        </div>
        <div class="portfolio-card__company">wallpapyrus.ru</div>
        <div class="portfolio-card__title"><a href="http://wallpapyrus.ru/node/7" target="_blank">Страница материала</a></div>
      </div>

      <div class="portfolio-card">
        <div class="portfolio-card__thumb">
          <a href="http://evrotehnica.com.ua" target="_blank">
            <img src="/assets/images/portfolio/evroteh_front.jpg" alt="evrotehnica.com.ua: Главная страница" title="evrotehnica.com.ua: Главная страница">
          </a>
        </div>
        <div class="portfolio-card__company">evrotehnica.com.ua</div>
        <div class="portfolio-card__title"><a href="http://evrotehnica.com.ua" target="_blank">Главная страница</a></div>
      </div>

      <div class="portfolio-card">
        <div class="portfolio-card__thumb">
          <a href="http://barsky.furniture" target="_blank">
            <img src="/assets/images/portfolio/barsky_frontpage.jpg" alt="barsky.furniture: Главная страница" title="barsky.furniture: Главная страница">
          </a>
        </div>
        <div class="portfolio-card__company">barsky.furniture</div>
        <div class="portfolio-card__title"><a href="http://barsky.furniture" target="_blank">Главная страница</a></div>
      </div>

      <div class="portfolio-card">
        <div class="portfolio-card__thumb">
          <a href="http://barsky.furniture/goods/armchairs/color" target="_blank">
            <img src="/assets/images/portfolio/barsky_color.jpg" alt="barsky.furniture: Color" title="barsky.furniture: Color">
          </a>
        </div>
        <div class="portfolio-card__company">barsky.furniture</div>
        <div class="portfolio-card__title">Лендинг &laquo;<a href="http://barsky.furniture/goods/armchairs/color" target="_blank">Color</a>&raquo;</div>
      </div>

      <div class="portfolio-card">
        <div class="portfolio-card__thumb">
          <a href="http://barsky.furniture/goods/armchairs/sport_drive" target="_blank">
            <img src="/assets/images/portfolio/barsky_sportdrive.jpg" alt="barsky.furniture: Кресла Sport Drive" title="barsky.furniture: Кресла Sport Drive">
          </a>
        </div>
        <div class="portfolio-card__company">barsky.furniture</div>
        <div class="portfolio-card__title">Лендинг &laquo;<a href="http://barsky.furniture/goods/armchairs/sport_drive" target="_blank">Кресла Sport Drive</a>&raquo;</div>
      </div>

      <div class="portfolio-card">
        <div class="portfolio-card__thumb">
          <a href="http://barsky.furniture/catalog" target="_blank">
            <img src="/assets/images/portfolio/barsky_catalog.jpg" alt="barsky.furniture: Каталог" title="barsky.furniture: Каталог">
          </a>
        </div>
        <div class="portfolio-card__company">barsky.furniture</div>
        <div class="portfolio-card__title">Лендинг &laquo;<a href="http://barsky.furniture/catalog" target="_blank">Каталог</a>&raquo;</div>
      </div>

      <div class="portfolio-card">
        <div class="portfolio-card__thumb">
          <a href="http://barsky.furniture/dongwei" target="_blank">
            <img src="/assets/images/portfolio/barsky_dongwei.jpg" alt="barsky.furniture: Dongwei" title="barsky.furniture: Dongwei">
          </a>
        </div>
        <div class="portfolio-card__company">barsky.furniture</div>
        <div class="portfolio-card__title">Страница &laquo;<a href="http://barsky.furniture/dongwei" target="_blank">Dongwei</a>&raquo;</div>
      </div>

      <div class="portfolio-card">
        <div class="portfolio-card__thumb">
          <a href="http://barsky.furniture/goods/armchairs/barsky" target="_blank">
            <img src="/assets/images/portfolio/barsky_office.jpg" alt="barsky.furniture: Кресла Barsky" title="barsky.furniture: Кресла Barsky">
          </a>
        </div>
        <div class="portfolio-card__company">barsky.furniture</div>
        <div class="portfolio-card__title">Лендинг &laquo;<a href="http://barsky.furniture/goods/armchairs/barsky" target="_blank">Кресла Barsky</a>&raquo;</div>
      </div>

      <div class="portfolio-card">
        <div class="portfolio-card__thumb">
          <a href="http://barsky.furniture/comfortable" target="_blank">
            <img src="/assets/images/portfolio/barsky_comfortable.jpg" alt="barsky.furniture: Comfortable" title="barsky.furniture: Comfortable">
          </a>
        </div>
        <div class="portfolio-card__company">barsky.furniture</div>
        <div class="portfolio-card__title">Лендинг &laquo;<a href="http://barsky.furniture/comfortable" target="_blank">Comfortable</a>&raquo;</div>
      </div>

    </div>
  </div>
