  <div class="portfolio">

    <h2 class="portfolio__title">Портфолио</h2>

    <div class="portfolio-card">
      <div class="portfolio-card__thumb">
        <a href="http://barsky.furniture" target="_blank">
          <img src="/assets/images/portfolio/barsky_frontpage.jpg" alt="barsky.furniture: Главная страница" title="barsky.furniture: Главная страница">
        </a>
      </div>
      <div class="portfolio-card__company">barsky.furniture</div>
      <div class="portfolio-card__title"><a href="http://barsky.furniture" target="_blank">Главная страница</a></div>
    </div>

    <div class="portfolio-card">
      <div class="portfolio-card__thumb">
        <a href="http://barsky.furniture/goods/armchairs/sport_drive" target="_blank">
          <img src="/assets/images/portfolio/barsky_sportdrive.jpg" alt="barsky.furniture: Кресла Sport Drive" title="barsky.furniture: Кресла Sport Drive">
        </a>
      </div>
      <div class="portfolio-card__company">barsky.furniture</div>
      <div class="portfolio-card__title">Лендинг &laquo;<a href="http://barsky.furniture/goods/armchairs/sport_drive" target="_blank">Кресла Sport Drive</a>&raquo;</div>
    </div>

    <div class="portfolio-card">
      <div class="portfolio-card__thumb">
        <a href="http://barsky.furniture/catalog" target="_blank">
          <img src="/assets/images/portfolio/barsky_catalog.jpg" alt="barsky.furniture: Каталог" title="barsky.furniture: Каталог">
        </a>
      </div>
      <div class="portfolio-card__company">barsky.furniture</div>
      <div class="portfolio-card__title">Лендинг &laquo;<a href="http://barsky.furniture/catalog" target="_blank">Каталог</a>&raquo;</div>
    </div>

    <div class="portfolio-card">
      <div class="portfolio-card__thumb">
        <a href="http://barsky.furniture/dongwei" target="_blank">
          <img src="/assets/images/portfolio/barsky_dongwei.jpg" alt="barsky.furniture: Dongwei" title="barsky.furniture: Dongwei">
        </a>
      </div>
      <div class="portfolio-card__company">barsky.furniture</div>
      <div class="portfolio-card__title">Страница &laquo;<a href="http://barsky.furniture/dongwei" target="_blank">Dongwei</a>&raquo;</div>
    </div>

  </div>
