<div class="projects">
  <h2 class="projects__title">Проекты</h2>
  <ul class="projects__list">
    <li class="projects__item">
      <a class="projects__entry" href="http://kulikov.pp.ua/polymer-sort-and-search/">Polymer Sort and Search</a>
      <p class="projects__descr">Решение <a href="http://jsraccoon.ru/react-challenge-sort-and-search" target="_blank">React Challenge #1</a></p>
    </li>
    <li class="projects__item">
      <a class="projects__entry" href="https://github.com/web-padawan/skystart">Skystart</a>
      <p class="projects__descr">Шаблон для старта проекта</p>
    </li>
    <li class="projects__item">
      <a class="projects__entry" href="https://github.com/web-padawan/ng_guestbook">Гостевая книга</a>
      <p class="projects__descr">Плагин для Next Generation CMS</p>
    </li>
  </ul>
</div>
