<div class="projects">
  <h3 class="projects__title">Проекты</h3>
  <ul class="projects__list">
    <li class="projects__item">
      <a class="projects__entry" href="https://github.com/web-padawan/skystart">Skystart</a>
      <p class="projects__descr">Шаблон для старта проекта</p>
    </li>
    <li class="projects__item">
      <a class="projects__entry" href="https://github.com/web-padawan/ng_guestbook">Гостевая книга</a>
      <p class="projects__descr">Плагин для Next Generation CMS</p>
    </li>
  </ul>
</div>
