  <div class="skills">
    <h2 class="skills__title">Навыки</h2>
    <p>Кроссбраузерно верстаю сайты на HTML5 и CSS3. Знаю JavaScript на уровне применения готовых решений, пишу скрипты на jQuery. Для стилей использую Sass. Знаком с приемами адаптивной верстки, умею и люблю верстать пиксель-перфект. В именовании классов придерживаюсь методологии БЭМ.</p>
    <p>Использую Gulp для сборки проекта, Compass для генерации спрайтов, Bower для подключения библиотек. Знаком с фреймворками Bootstrap и Foundation на уровне подключения компонентов из исходников (но предпочитаю обходиться без них). Для раскладки по сетке использую Susy.</p>
    <p>Интегрирую верстку в Drupal, владею темизацией, включая создание собственной темы на основе фреймворка Omega. Знаю PHP на уровне написания кастомных модулей с использованием Drupal API, есть наработки для Drupal Commerce. Для развертывания проектов на Drupal применяю мультисайт.</p>
    <p>Активно применяю в работе и собственных проектах Git-репозитории, также знаком с SVN. Использую Trello для управления задачами по системе Kanban, а также Grindstone - для тайм-менеджмента.</p>
    <p>Знаю английский на уровне свободного понимания технической литературы и документации и успешного поиска решений проблем на stackoverflow и drupal.org. В течение 5 месяцев посещал курсы разговорного английского от компании Logos, имею сертификат о достижении уровня pre-intermediate.</p>
  </div>
