  <div class="skills">
    <h2 class="skills__title">Навыки</h2>

    <div class="skills__tabs">
      <a class="skills__tab" href="#short">Кратко</a> / <a class="skills__tab skills__tab--active" href="#full">Подробно</a>

      <div class="skills__content" id="full">
        <p class="skills__text">
          <span>Кроссбраузерно верстаю сайты на HTML5 и CSS3. Владею JavaScript и jQuery, осваиваю ES6, React и Redux.</span>
          <span>Использую Sass в связке с PostCSS. Знаком с приёмами адаптивной вёрстки, умею и люблю верстать пиксель-перфект.</span>
          <span>В именовании классов и структуре файлов стилей придерживаюсь методологии БЭМ.</span>
        </p>
        <p class="skills__text">
          <span>Использую Gulp и Webpack для сборки, Spritesmith для генерации спрайтов, npm и Bower для подключения библиотек.</span>
          <span>Знаком с Bootstrap и Foundation, но предпочитаю собственные решения. Для раскладки по сетке использую Susy.</span>
          <span>Тестирую вёрстку в Chrome DevTools с помощью плагина PerfectPixel и BrowserSync.</span>
        </p>
        <p class="skills__text">
          <span>Интегрирую вёрстку в Drupal, создаю собственные темы на основе фреймворка Omega.</span>
          <span>Знаю PHP на уровне написания кастомных модулей с использованием Drupal API, есть наработки для Drupal Commerce.</span>
          <span>Работаю также с <a href="http://ngcms.ru" target="_blank">Next Generation CMS</a>, для которой написал</span>
          <span><a href="https://github.com/web-padawan/ng_guestbook" target="_blank">плагин гостевой книги</a></span>
          <span>и еще <a href="https://github.com/web-padawan/ngplugins" target="_blank">пару плагинов</a> попроще.</span>
        </p>
        <p class="skills__text">
          <span>Работаю с Git-репозиториями, использую Trello для управления проектами по системе Kanban и Grindstone — для учёта времени.</span>
          <span>Также знаком с Subversion и трекером задач Redmine.</span>
          <span>Есть опыт работы в окружении Linux (Ubuntu), включая настройку и запуск задач по cron, начальные знания конфигурации Apache и Nginx.</span>
        </p>
        <p class="skills__text">
          <span>Знаю английский на уровне свободного понимания технической литературы и документации и поиска решений проблем.</span>
          <span>Прошел пятимесячный курс разговорного английского <a href="http://esl.apslogos.com" target="_blank">ESL</a></span>
          <span>и получил сертификат о достижении уровня intermediate (сентябрь 2015).</span>
          <span>Сейчас посещаю курсы <a href="http://www.yappicorp.com.ua" target="_blank">Yappi Corporate</a>.</span>
        </p>
      </div>

      <div class="skills__content" id="short">
        <p class="skills__group">Языки</p>
        <ul class="skills__list">
          <li>HTML + CSS: семантичная вёрстка с применением новшеств CSS3</li>
          <li>JavaScript: адаптация готовых решений, jQuery, AJAX, JSON</li>
          <li>PHP: разработка модулей для CMS Drupal и Next Generation CMS</li>
          <li>SQL (MySQL, Transact SQL): написание простых запросов</li>
        </ul>
        <p class="skills__group">Приёмы</p>
        <ul class="skills__list">
          <li>кроссбраузерная вёрстка (IE8+) и graceful degradation</li>
          <li>резиновая и адаптивная вёрстка, mobile-first</li>
          <li>вёрстка pixel-perfect (с минимальными погрешностями)</li>
          <li>вёрстка и структурирование кода по методологии БЭМ</li>
          <li>спрайты, оптимизация кода и ресурсов для production</li>
        </ul>
        <p class="skills__group">Окружение</p>
        <ul class="skills__list">
          <li>препроцессоры: Sass (SCSS), PostCSS</li>
          <li>фреймворки: Compass, Susy, Bootstrap, Foundation</li>
          <li>автоматизация: Gulp, Grunt, Webpack, npm, Bower</li>
          <li>управление проектами: Trello, Redmine</li>
          <li>репозитории: Git, Subversion</li>
        </ul>
      </div>
    </div>

  </div>
