@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: "PTSans";
  src: url('../fonts/ptsans-regular.woff?1444985380') format('woff');
}
@font-face {
  font-family: "PTSans";
  src: url('../fonts/ptsans-bold.woff?1444985380') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: "PTSans";
  src: url('../fonts/ptsans-italic.woff?1444985380') format('woff');
  font-style: italic;
}
.footer__container, .header__container, .main__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.footer__container:after, .header__container:after, .main__container:after {
  content: " ";
  display: block;
  clear: both;
}

.highlight {
  background: #fff;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .m {
  color: #009999;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #009999;
}
.highlight .lineno {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}
.highlight .lineno::-moz-selection {
  background-color: transparent;
}
.highlight .lineno::selection {
  background-color: transparent;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

body, html {
  min-width: 320px;
  color: #313131;
  font-family: "PTSans", Helvetica, Arial, sans-serif;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #0072ba;
  border-bottom: 1px solid rgba(0, 114, 186, 0.25);
}
a:hover {
  color: #f44336;
  border-bottom: 1px solid rgba(244, 67, 54, 0.25);
}

p {
  margin-top: 12px;
  margin-bottom: 12px;
}

ul {
  margin-top: 12px;
  margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 12px;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 48px;
  line-height: 3rem;
}

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 48px;
  line-height: 3rem;
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 48px;
  line-height: 3rem;
}

h4 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 48px;
  line-height: 3rem;
}

h5 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
}

h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.about {
  margin: 24px 0;
  padding: 0 1rem;
}
@media (max-width: 480px) {
  .about {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 480px) and (max-width: 736px) {
  .about {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
}
@media (min-width: 737px) and (max-width: 1023px) {
  .about {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .about {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    padding-left: 0;
  }
}
.about__title {
  margin: 0 0 24px;
}
.about__content {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.book {
  margin: 24px 0;
  padding: 0 1rem;
}
@media (max-width: 480px) {
  .book {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 480px) and (max-width: 736px) {
  .book {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
}
@media (min-width: 737px) and (max-width: 1023px) {
  .book {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 1024px) {
  .book {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 3.38983%;
  }
}
.book__title {
  margin: 0 0 24px;
}
.book__content {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.book__cover {
  display: block;
}
.book__title {
  font-weight: bold;
}

.experience {
  padding: 24px 1rem;
  overflow: hidden;
  animation: fadein 1s;
}
@media (min-width: 737px) and (max-width: 1023px) {
  .experience {
    display: inline-block;
    vertical-align: top;
    width: 66%;
  }
}
@media (min-width: 1024px) {
  .experience {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    padding-left: 0;
  }
}
.experience__title {
  text-align: center;
  margin: 0 0 24px;
}
@media (min-width: 480px) {
  .experience__title {
    text-align: left;
  }
}
.experience-company {
  margin-top: 24px;
}
@media (max-width: 480px) {
  .experience-company {
    max-width: 225px;
    margin: 24px auto 0;
  }
}
@media (min-width: 480px) and (max-width: 1023px) {
  .experience-company {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 480px) and (max-width: 1023px) {
  .experience-company--last {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 737px) and (max-width: 1023px) {
  .experience-company {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .experience-company {
    float: none;
    width: 100%;
  }
}
.experience-company__icon {
  float: left;
  margin-right: 0.5rem;
  width: 24px;
  height: 24px;
}
.experience-company__icon--paradiz {
  background: url('../images/generated/icons.png') 0 -102px no-repeat;
}
.experience-company__icon--privat {
  background: url('../images/generated/icons.png') 0 -204px no-repeat;
}
.experience-company__title {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.experience-company__job {
  font-weight: bold;
}
.experience-company__note {
  font-style: italic;
}
.experience-company__description {
  margin: 12px 0 0;
  padding-left: 1rem;
  font-size: 13px;
}

.footer {
  padding-top: 24px;
  padding-top: 1.5rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  overflow: hidden;
  clear: both;
  background: #f0f0f0;
  border-top: 1px solid #d9d9d9;
}
@media (max-width: 600px) {
  .footer {
    text-align: center;
  }
}
.footer__container {
  overflow: hidden;
  margin-bottom: 12px;
}
@media (min-width: 600px) {
  .footer__author {
    float: left;
    margin-left: 1rem;
  }
}
@media (min-width: 600px) {
  .footer__poweredby {
    float: right;
    margin-right: 4rem;
  }
}
.footer__thanks {
  clear: both;
  padding: 0 1rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
  text-align: center;
}

.header {
  padding-top: 24px;
  padding-top: 1.5rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  background: #f0f0f0;
  border-bottom: 1px solid #d9d9d9;
}
.header__left {
  text-align: center;
}
@media (min-width: 1024px) {
  .header__left {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    padding-left: 1rem;
    text-align: left;
  }
}
.header__right {
  padding-right: 1rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .header__right {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    text-align: left;
  }
}
.header__title {
  margin: 0;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 48px;
  line-height: 3rem;
}
@media (max-width: 480px) {
  .header__title {
    line-height: 1.25;
    margin-bottom: 8px;
  }
}
.header__dash {
  font-weight: normal;
}
@media (max-width: 480px) {
  .header__dash {
    display: none;
  }
}
.header__addition {
  font-weight: normal;
}
@media (max-width: 480px) {
  .header__addition {
    display: block;
  }
}
@media (max-width: 480px) {
  .header__description {
    padding: 0 1rem;
  }
}

.page {
  padding: 24px 1rem;
}

.portfolio {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 24px;
  text-align: center;
  animation: fadein 1s;
}
@media (min-width: 1024px) {
  .portfolio {
    max-width: 100%;
    padding: 24px 1rem 0 1rem;
    max-width: 1200px;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio:after {
    content: " ";
    display: block;
    clear: both;
  }
}
.portfolio__title {
  margin: 12px 0;
}
.portfolio-cards {
  min-height: 200px;
  max-width: 85%;
  background: url('../images/ajax-loader.gif?1445662539') no-repeat center center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 600px) {
  .portfolio-cards {
    max-width: 90%;
  }
}
@media (min-width: 737px) {
  .portfolio-cards {
    max-width: 93%;
  }
}
@media (min-width: 1024px) {
  .portfolio-cards {
    max-width: 96%;
  }
}
.portfolio-card {
  padding: 24px 12px 12px 12px;
  margin: 12px 1rem;
  outline: none;
  display: none;
}
.portfolio-card:hover {
  border-color: #a9a9a9;
  box-shadow: 0 0 1pc rgba(57, 56, 61, 0.4);
}
.portfolio-card__thumb img {
  margin: 0 auto;
  vertical-align: top;
}
.portfolio-card__company {
  margin-top: 12px;
  font-weight: bold;
}
.portfolio-card__title {
  font-size: 13px;
}
@media (min-width: 1200px) {
  .portfolio-card__title {
    font-size: 14px;
  }
}
.portfolio-card a:active, .portfolio-card a:focus {
  outline: none;
}

.post__title {
  margin: 0;
}
.post__preview {
  margin-top: 24px;
}
.post__content {
  margin-top: 24px;
}

.projects {
  margin: 24px 0;
  padding: 0 1rem;
}
@media (max-width: 480px) {
  .projects {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 480px) and (max-width: 736px) {
  .projects {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin-bottom: 0;
  }
}
@media (min-width: 737px) and (max-width: 1023px) {
  .projects {
    display: inline-block;
    vertical-align: top;
    width: 33%;
  }
}
@media (min-width: 1024px) {
  .projects {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
.projects__title {
  margin: 0 0 24px;
}
.projects__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.projects__item {
  margin-top: 24px;
}
.projects__entry {
  font-weight: bold;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.projects__descr {
  margin: 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.recent {
  margin: 24px 0;
  padding: 0 1rem;
}
@media (max-width: 480px) {
  .recent {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 480px) and (max-width: 736px) {
  .recent {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin-bottom: 0;
  }
}
@media (min-width: 737px) and (max-width: 1023px) {
  .recent {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 1024px) {
  .recent {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
.recent__title {
  margin: 0 0 24px;
}
.recent__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.recent__item {
  margin-bottom: 24px;
}
.recent__entry {
  font-weight: bold;
}
.recent__date {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.skills {
  padding: 24px 1rem 0;
  animation: fadein 1s;
}
@media (min-width: 1024px) {
  .skills {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
    padding-bottom: 24px;
  }
}
.skills__title {
  margin: 0 0 24px;
}
.skills__text {
  margin: 24px 0;
}
.skills__text:last-child {
  margin: 0;
}
.skills__tab {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  border-bottom-style: dashed;
}
.skills__tab:hover {
  border-bottom-style: dashed;
}
.skills__tab--active {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  border: none;
}
.skills__tab--active:active, .skills__tab--active:focus {
  outline: none;
}
.skills__tab--active:hover {
  color: inherit;
  border: none;
  cursor: default;
}
.skills__content {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.skills__group {
  margin: 0;
  font-weight: bold;
}
.skills__list {
  margin-top: 0;
  margin-bottom: 24px;
}
.skills__list:last-child {
  margin: 0;
}

.social {
  margin: 24px 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1024px) {
  .social {
    float: right;
  }
}
.social__item {
  display: inline-block;
  margin-right: 1rem;
}
.social__item:last-child {
  margin-right: 0;
}
.social__link {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
}
.social__link:hover {
  border: none;
}

.social__link--phone {
  background: url('../images/generated/icons.png') 0 -170px no-repeat;
}

.social__link--email {
  background: url('../images/generated/icons.png') 0 0 no-repeat;
}

.social__link--skype {
  background: url('../images/generated/icons.png') 0 -238px no-repeat;
}

.social__link--github {
  background: url('../images/generated/icons.png') 0 -34px no-repeat;
}

.social__link--linkedin {
  background: url('../images/generated/icons.png') 0 -68px no-repeat;
}

.social__link--pdf {
  background: url('../images/generated/icons.png') 0 -136px no-repeat;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-slider.slick-initialized {
  background: none;
}

.slick-loading .slick-list {
  background: #fff url('../images/ajax-loader.gif?1445662539') center center no-repeat;
}

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  top: 42%;
  height: 35px;
  width: 20px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0;
}
.slick-prev:before,
.slick-next:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 60px;
  font-family: serif;
  font-weight: bold;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:hover:before,
.slick-next:hover:before {
  color: #555555;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev {
  left: -10px;
}
.slick-prev:before {
  content: "‹";
}

.slick-next {
  right: -10px;
}
.slick-next:before {
  content: "›";
}
