html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer__container, .header__container, .main__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.footer__container:after, .header__container:after, .main__container:after {
  content: " ";
  display: block;
  clear: both;
}

.highlight {
  background: #fff;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .m {
  color: #009999;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #009999;
}
.highlight .lineno {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}
.highlight .lineno::-moz-selection {
  background-color: transparent;
}
.highlight .lineno::selection {
  background-color: transparent;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

body, html {
  min-width: 320px;
  color: #313131;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #0072ba;
  border-bottom: 1px solid rgba(0, 114, 186, 0.25);
}
a:hover {
  color: #f44336;
  border-bottom: 1px solid rgba(244, 67, 54, 0.25);
}

p {
  margin-top: 12px;
  margin-bottom: 12px;
}

ul {
  margin-top: 12px;
  margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 12px;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 48px;
  line-height: 3rem;
}

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 48px;
  line-height: 3rem;
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 48px;
  line-height: 3rem;
}

h4 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 48px;
  line-height: 3rem;
}

h5 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
}

h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.footer {
  padding-top: 24px;
  padding-top: 1.5rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  overflow: hidden;
  clear: both;
  background: #f0f0f0;
  border-top: 1px solid #d9d9d9;
}
@media (max-width: 600px) {
  .footer {
    text-align: center;
  }
}
.footer__container {
  overflow: hidden;
  margin-bottom: 12px;
}
@media (min-width: 600px) {
  .footer__author {
    float: left;
    margin-left: 1rem;
  }
}
@media (min-width: 600px) {
  .footer__poweredby {
    float: right;
    margin-right: 4rem;
  }
}
.footer__thanks {
  clear: both;
  padding: 0 1rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
  text-align: center;
}

.header {
  padding-top: 24px;
  padding-top: 1.5rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  background: #f0f0f0;
  border-bottom: 1px solid #d9d9d9;
}
.header__left {
  text-align: center;
}
@media (min-width: 1024px) {
  .header__left {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    padding-left: 1rem;
    text-align: left;
  }
}
.header__right {
  padding-right: 1rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .header__right {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    text-align: left;
  }
}
.header__title {
  margin: 0;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 48px;
  line-height: 3rem;
}
@media (max-width: 480px) {
  .header__title {
    line-height: 1.25;
    margin-bottom: 8px;
  }
}
.header__dash {
  font-weight: normal;
}
@media (max-width: 480px) {
  .header__dash {
    display: none;
  }
}
.header__addition {
  font-weight: normal;
}
@media (max-width: 480px) {
  .header__addition {
    display: block;
  }
}
@media (max-width: 480px) {
  .header__description {
    padding: 0 1rem;
  }
}

.page {
  padding: 24px 1rem;
}

.post__title {
  margin: 0;
}
.post__preview {
  margin-top: 24px;
}
.post__content {
  margin-top: 24px;
}

.social {
  margin: 24px 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1024px) {
  .social {
    float: right;
  }
}
.social__item {
  display: inline-block;
  margin-right: 1rem;
}
.social__item:last-child {
  margin-right: 0;
}
.social__link {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
}
.social__link:hover {
  border: none;
}
.social__link--email {
  background: url('../images/generated/icons.png') 0 0 no-repeat;
}
.social__link--github {
  background: url('../images/generated/icons.png') 0 -34px no-repeat;
}
