---json
{
  "layout": "base",
  "title": "Стихи"
}
---
<div class="content">
  <h1>{{ title }}</h1>

  {% for year, posts in collections.poetry | groupByYear %}
  <section>
    <h2>{{ year }}</h2>

    <table class="dated-table">
      <tbody>
        {% for post in posts %}
          <tr>
            <td>
              <time datetime="{{ post.date | dateToIsoString }}">{% formatShortDate post.date %}</time>
            </td>
            <td>
              <a href="{{ post.url }}">{{ post.data.title }}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  {% endfor %}


  <section>
    <h2>Архів</h2>
    <p>
      Вірші 2005-2010 років.
    </p>
    <ul>
      {% for post in collections.archive | sortByYear %}
        <li>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>
