<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title }}{% if title %} · {% endif %}Serhii Kulykov</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="/assets/images/intro/1080.jpg" />

    <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png">
    <link rel="stylesheet" href="/assets/styles/index.css">
  </head>

  <body>
    <div class="page">
      <header class="header {% if page.url === '/' %}header_home{% endif %}">
        <div class="header__title">
          <a class="header__link" href="/">Serhii Kulykov</a>
        </div>
      </header>

      <main class="page__content">
        {{ content | safe }}
      </main>

      <footer class="footer">
        <ul class="social">
          <li class="social__item"><a rel="noopener noreferrer" href="https://facebook.com/iamkulykov">Facebook</a></li>
          <li class="social__item"><a rel="noopener noreferrer" href="https://instagram.com/iamkulykov">Instagram</a></li>
          <li class="social__item"><a rel="noopener noreferrer" href="https://twitter.com/serhiikulykov">Twitter</a></li>
          <li class="social__item"><a rel="noopener noreferrer" href="https://www.linkedin.com/in/iamkulykov/">LinkedIn</a></li>
        </ul>

        <p>This website doesn't track you and doesn't collect any data.</p>
      </footer>
    </div>
  </body>

</html>
