<!DOCTYPE html>
<html lang="{{ lang | htmlLang }}">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title }}{% if title %} · {% endif %}Serhii Kulykov</title>
    <meta name="description" content="{{ description }}">

    <link rel="canonical" href="{{ siteUrl }}{{ page.url }}">

    <meta property="og:type" content="{{ ogType or 'website' }}">
    <meta property="og:url" content="{{ siteUrl }}{{ page.url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ siteUrl }}{{ cover or '/assets/images/intro/1080.jpg' }}" />
    {%- if cover %}
    <meta name="twitter:card" content="summary_large_image">
    {%- endif %}

    <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png">
    <link rel="stylesheet" href="/assets/styles/index.css">
  </head>

  <body>
    <div class="page">
      <header class="header {% if page.url === '/' %}header_home{% endif %}">
        <div class="header__title">
          <a class="header__link" href="/">Serhii Kulykov</a>
        </div>

        <nav class="nav" aria-label="Main">
          <ul class="nav__list">
            {%- for item in [
              { url: '/', text: 'Blog' },
              { url: '/about/', text: 'About' }
            ] %}
            <li class="nav__item"><a class="nav__link" href="{{ item.url }}"{% if page.url === item.url %} aria-current="page"{% endif %}>{{ item.text }}</a></li>
            {%- endfor %}
          </ul>
        </nav>
      </header>

      <main class="page__content">
        {{ content | safe }}
      </main>

      <footer class="footer">
        <ul class="social">
          <li class="social__item"><a rel="noopener noreferrer" href="https://facebook.com/iamkulykov">Facebook</a></li>
          <li class="social__item"><a rel="noopener noreferrer" href="https://instagram.com/iamkulykov">Instagram</a></li>
          <li class="social__item"><a rel="noopener noreferrer" href="https://x.com/serhiikulykov">X</a></li>
          <li class="social__item"><a rel="noopener noreferrer" href="https://bsky.app/profile/iamkulykov.bsky.social">Bluesky</a></li>
          <li class="social__item"><a rel="noopener noreferrer" href="https://github.com/web-padawan">GitHub</a></li>
          <li class="social__item"><a rel="noopener noreferrer" href="https://dev.to/webpadawan">dev.to</a></li>
          <li class="social__item"><a rel="noopener noreferrer" href="https://www.linkedin.com/in/iamkulykov/">LinkedIn</a></li>
        </ul>

        <p>This website doesn't track you and doesn't collect any data.</p>
      </footer>
    </div>
  </body>

</html>
