---
layout: base
---
<article class="article">
  <header class="article__header">
    <h1>{{ title }}</h1>
  </header>

  <div class="content">
    {{ content | safe }}
  </div>

  <footer class="article__footer">
    {% if date %}
    <time class="article__time" datetime="{{ date | dateToIsoString }}">
      {% formatDate date %}
    </time>
    {% endif %}
    {% if year %}
    <div class="article__time">{{ year }}</div>
    {% endif %}
  </footer>
</article>
