$text-default : #313131;

$link-default : #0072ba;
$link-hover   : #f44336;

$header-bg    : #f0f0f0;
$header-line  : #d9d9d9;

$footer-bg    : #f0f0f0;
$footer-line  : #d9d9d9;

$shadow-box   : #a9a9a9;
$shadow-drop  : #39383d;

$slick-arrow  : #ccc;
