.book {
  margin: $vert-spacing-unit 0;
  padding: 0 $horz-spacing-unit;

  @include breakpoint(max-width $mb) {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint($mb $sm - 1) {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }

  @include breakpoint($sm $md - 1) {
    @include span(4 of 12);
  }

  @include breakpoint($md) {
    @include span(2 of 12);
    margin-left: gutter() * 2;
  }

  &__title {
    margin: 0 0 $vert-spacing-unit;
  }

  &__content {
    @include adjust-font-size-to(14px);
  }

  &__cover {
    display: block;
  }

  &__name {
    font-weight: bold;
  }
}
