.experience {
  padding: $vert-spacing-unit $horz-spacing-unit;
  animation: fadein 1s;

  @include breakpoint($md) {
    @include span(last 3 of 12);
    padding-left: 0;
  }

  &__title {
    margin: $vert-spacing-unit / 2 0 $vert-spacing-unit;
  }

  &-company {
    float: left;
    margin: 0 $horz-spacing-unit * 2 $vert-spacing-unit 0;
    &--last {
      margin-bottom: 0;
    }

    @include breakpoint($md) {
      float: none;
      margin-right: 0;
    }

    &__icon {
      float: left;
      margin-right: $horz-spacing-unit / 2;
      width: 24px;
      height: 24px;

      &--paradiz {
        @include si(paradiz);
      }
      &--privat {
        @include si(privat);
      }
    }

    &__title {
      display: inline-block;
      margin-bottom: $vert-spacing-unit / 3;
      font-weight: bold;
      font-size: 18px;
    }

    &__job {
      font-weight: bold;
    }

    &__note {
      font-style: italic;
    }

    &__description {
      margin: $vert-spacing-unit / 3 0 0 0;
      padding-left: $horz-spacing-unit;
      font-size: 13px;
    }
  }
}
