.experience {
  padding: $vert-spacing-unit $horz-spacing-unit;
  overflow: hidden;
  animation: fadein 1s;

  @include breakpoint($sm $md - 1) {
    display: inline-block;
    vertical-align: top;
    width: 66%;
  }

  @include breakpoint($md) {
    @include span(last 3 of 12);
    padding-left: 0;
  }

  &__title {
    text-align: center;
    margin: 0 0 $vert-spacing-unit;

    @include breakpoint($mb) {
      text-align: left;
    }
  }

  &-company {
    margin-top: $vert-spacing-unit;

    @include breakpoint(max-width $mb) {
      max-width: 225px;
      margin: $vert-spacing-unit auto 0;
    }

    @include breakpoint($mb $md - 1) {
      @include span(4 of 8);
    }

    &--last {
      @include breakpoint($mb $md - 1) {
        @include last;
      }
    }

    @include breakpoint($sm $md - 1) {
      margin-top: 0;
    }

    @include breakpoint($md) {
      float: none;
      width: 100%;
    }

    &__icon {
      float: left;
      margin-right: $horz-spacing-unit / 2;
      width: 24px;
      height: 24px;

      &--paradiz {
        @include si(paradiz);
      }
      &--privat {
        @include si(privat);
      }
    }

    &__title {
      display: inline-block;
      margin-bottom: $vert-spacing-unit / 2;
      font-weight: bold;
      @include adjust-font-size-to(18px);
    }

    &__job {
      font-weight: bold;
    }

    &__note {
      font-style: italic;
    }

    &__description {
      margin: $vert-spacing-unit / 2 0 0;
      padding-left: $horz-spacing-unit;
      font-size: 13px;
    }
  }
}
