.footer {
  @include padding-leader();
  @include padding-trailer();
  overflow: hidden;
  clear: both;
  background: $footer-bg;
  border-top: 1px solid $footer-line;
  @include breakpoint (max-width $xs) {
    text-align: center;
  }

  &__container {
    @extend %container;
    overflow: hidden;
    margin-bottom: $vert-spacing-unit / 2;
  }

  &__author {
    @include breakpoint ($xs) {
      float: left;
      margin-left: $horz-spacing-unit;
    }
  }

  &__poweredby {
    @include breakpoint ($xs) {
      float: right;
      margin-right: $horz-spacing-unit * 4;
    }
  }

  &__thanks {
    clear: both;
    padding: 0 $horz-spacing-unit;
    @include adjust-font-size-to(14px);
    text-align: center;
  }
}
