.header {
  @include padding-leader();
  @include padding-trailer();
  background: $header-bg;
  border-bottom: 1px solid $header-line;

  &__container {
    @extend %container;
  }

  &__left {
    padding-left: $horz-spacing-unit;
    text-align: center;

    @include breakpoint($md) {
      @include span(8 of 12);
      text-align: left;
    }
  }

  &__right {
    padding-right: $horz-spacing-unit;
    text-align: center;

    @include breakpoint($md) {
      @include span(last 4 of 12);
      text-align: left;
    }
  }

  &__title {
    @include adjust-font-size-to(24px);
    @include breakpoint(max-width $mb) {
      line-height: 1.25;
      margin-bottom: $vert-spacing-unit / 3;
    }
  }

  &__dash {
    font-weight: normal;
    @include breakpoint(max-width $mb) {
      display: none;
    }
  }

  &__addition {
    font-weight: normal;
    @include breakpoint(max-width $mb) {
      display: block;
    }
  }
}
