.header {
  background: #f0f0f0;
  border-bottom: 1px solid #d9d9d9;

  &__left {
    padding-left: 20px;
    text-align: center;

    @include breakpoint ($md) {
      @include span(8 of 12);
      text-align: left;
    }
  }

  &__right {
    padding-right: 20px;
    text-align: center;

    @include breakpoint ($md) {
      @include span(last 4 of 12);
      text-align: left;
    }
  }

  &__title {
    font-size: 24px;
  }

  &__addition {
    font-weight: normal;
  }
}
