.portfolio {
  padding-top: $vert-spacing-unit;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  animation: fadein 1s;

  @include breakpoint($md) {
    max-width: 100%;
    padding: $vert-spacing-unit $horz-spacing-unit 0 $horz-spacing-unit;;
    @include container();
  }

  &__title {
    margin: $vert-spacing-unit / 2 0;
  }

  &-cards {
    max-width: 90%;
    @include breakpoint($sm) {
      max-width: 93%;
    }
    @include breakpoint($md) {
      max-width: 96%;
    }
    margin-left: auto;
    margin-right: auto;
  }

  &-card {
    padding: $vert-spacing-unit $vert-spacing-unit / 2 $vert-spacing-unit / 2 $vert-spacing-unit / 2;
    margin: 0 $horz-spacing-unit;
    outline: none;

    &:hover {
      border-color: $shadow-box;
      box-shadow: 0 0 1pc rgba($shadow-drop,.4);
    }

    &__thumb {
      img {
        margin: 0 auto;
        vertical-align: top;
      }
    }

    &__company {
      margin-top: $vert-spacing-unit / 2;
      font-weight: bold;
    }

    &__description {
      max-width: 285px;
      margin: 0 auto;
    }

  }
}
