.portfolio {
  padding-top: $vert-spacing-unit;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;

  @include breakpoint($md) {
    max-width: 100%;
  }

  &__title {
    margin-bottom: $vert-spacing-unit;
  }

  &-card {
    display: inline-block;
    margin: 0 $horz-spacing-unit;

    @include breakpoint($md) {
      width: 23%;
      margin: 0 .5%;
    }

    &__thumb {
      img {
        vertical-align: top;
      }
    }

    &__company {
      font-weight: bold;
    }

    &__description {
      max-width: 285px;
      margin: 0 auto;
    }

  }
}
