.portfolio {
  text-align: center;

  &-card {
    display: inline-block;
    vertical-align: top;

    @include breakpoint($sm) {
      width: 48%;
    }
    @include breakpoint($md) {
      width: 23%;
      margin: 0 .5%;
    }

    &__description {
      max-width: 285px;
      margin: 0 auto;
    }
  }
}
