.recent {
  padding: $vert-spacing-unit $horz-spacing-unit 0;

  @include breakpoint(max-width $mb) {
    max-width: 240px;
    margin: 0 auto;
  }

  @include breakpoint($mb $sm - 1) {
    @include span(last 6 of 12);
    padding-bottom: $vert-spacing-unit;
  }

  @include breakpoint($sm $md - 1) {
    @include span(4 of 12);
  }

  @include breakpoint($md) {
    @include span(3 of 12);
  }

  &__title {
    margin: 0 0 $vert-spacing-unit;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin-bottom: $vert-spacing-unit;
  }

  &__entry {
    font-weight: bold;
  }

  &__date {
    @include adjust-font-size-to(14px);
  }
}
