.skills {
  padding: $vert-spacing-unit;
  padding-bottom: 0;
  animation: fadein 1s;

  @include breakpoint($md) {
    @include span(9 of 12);
    padding-bottom: $vert-spacing-unit;
  }

  &__title {
    margin: $vert-spacing-unit / 2 0;
  }

  &__text {
    &:last-child {
      margin: 0;
    }
  }

  &__tab {
    @include trailer;

    &--active {
      @include unstyled-link;
      border: none;

      &:hover {
        color: inherit;
        border: none;
        cursor: default;
      }
    }
  }

  &__content {
    @include leader;
  }

  &__group {
    margin: 0;
    font-weight: bold;
  }

  &__list {
    margin-top: 0;
    margin-bottom: $vert-spacing-unit;
    &:last-child {
      margin: 0;
    }
  }
}
